<div class="index-center">
	<div class="index-center-first-area">
		<div class="index-center-topbar gray"></div>
		<div class="index-center-content">
			<%= image_tag("index/index-bg1.png", :alt => "banner", :class => "format-img first-bg")%>
		</div>
	</div>
	<div class="index-center-second-area">
		<div class="index-center-topbar blue">
			<div class="center-topbar-title">How it work</div>
		</div>
		<div class="index-center-content">
			<div class="index-tip-first-step yellow"></div>
			<div class="index-tip-second-step cyan"></div>
			<div class="index-tip-third-step">
				<%= image_tag("index/index-bg2.png", :alt => "banner", :class => "format-img")%>
			</div>
		</div>
	</div>
	<div class="index-center-float">
		<div class="index-center-float-box" style="margin-top: 0px">
			<div class="index-center-font-box">
				<div style="font-size:25px;margin-top:15px;">用这个平台将Idea落实成项目，我们帮你生产。</div>
				<div style="font-size:16px;margin-top:15px;">登记为Spark用户，开始创造的第一步</div>
				<a class="register-btn">注册</a>
				<div class="clear"></div>
			</div>
			<%= image_tag("index/index-first-img.png", :alt => "banner", :class => "format-img")%>
		</div>
		<div class="index-center-float-box">
			<div class="index-center-font-box">
				<%= image_tag("index/index-number-1.png", :alt => "banner", :class => "index-number-img")%>
				<div style="font-size:25px;margin-top:-5px;">你的创见</div>
				<div style="font-size:16px;margin-top:15px;margin-bottom:40px;">Spark社区由你的创见开始。</div>
			</div>
			<%= image_tag("index/index-hand.png", :alt => "banner", :class => "index-hand-img")%>
			<div class="clear"></div>
		</div>
		<div class="index-center-float-box" style="margin-top: -80px">
			<div class="index-center-font-box">
				<div class="index-center-font-box">
					<%= image_tag("index/index-number-2.png", :alt => "banner", :class => "index-number-img")%>
					<div style="font-size:25px;margin-top:-5px;">根据社区的反馈好的Idea将被挑选成为可落实的项目</div>
					<div style="font-size:16px;margin-top:15px;margin-bottom:40px;">项目是经过...</div>
				</div>
			</div>
			<%= image_tag("index/index-good.png", :alt => "banner", :class => "index-good-img")%>
			<div class="clear"></div>
		</div>
		<div class="index-center-float-box" style="margin-top: -80px">
			<div class="index-center-font-box">
				<div class="index-center-font-box">
					<%= image_tag("index/index-number-3.png", :alt => "banner", :class => "index-number-img")%>
					<div style="font-size:25px;margin-top:-5px;">用众人的力量，为你的项目寻找。。。</div>
					<div style="font-size:16px;margin-top:15px;margin-bottom:40px;">以...</div>
					<%= image_tag("index/index-wrench.png", :alt => "banner", :class => "index-wrench")%>
				</div>
			</div>
		</div>
	</div>
</div>
