<!DOCTYPE html>
<html>
<head>
  <title>Spark</title>
  <meta name="viewport" id="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <meta name="format-detection" content="telephone=no" />
  <%= javascript_include_tag "jquery-1.11.0.min" %>
  <%= javascript_include_tag "jquery.md5" %>
  <%= javascript_include_tag "mustache" %>
  <%= javascript_include_tag "base" %>
  <%= stylesheet_link_tag "base"%>
  <%= csrf_meta_tags %>
</head>
<body id="body">
  <header class="header">
    <a href="/#">
      <%= image_tag("logo-header.png",:class => "logo-header",:alt => "logo-header") %>
    </a>
    <div class="header-btn-area">
      <a class="header-btn" href="/ideas">
        <%= image_tag("idea-btn-header.png", :alt => "btn")%>
      </a>
    </div>
  </header>
  <div class="container">
    <div class="color-bar-area">
      <div class="red-bar red"></div>
      <div class="blue-bar blue"></div>
    </div>
    <%= yield %>
    <div class="clear"></div>
  </div>
  <div class="footer">
    <span>copyright 2014 spark</span>
    <span><%= link_to 'About', about_path %></span>
  </div>
</body>
</html>
